

@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/_VibExchangeLayout.cshtml";
}

<h2 style="margin-left:30%">Oh Uh!!!!!!............</h2>
<br />
          <div style="margin-left:30%"><img src="~/images/payment-failed.jpg"></div>

<p style="font:bold;color:red;font-size:x-large;text-align:center">Your payment failed</p>



<a href="/" style="margin-top:5px;margin-left:10%">
  Back to Home page
</a>