
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_VibExchangeLayout.cshtml";
}

<h2>Dashboard</h2>

<section>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <div class="btn btn-primary">
                    UserDetail
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="btn btn-primary">
                    EnquiryDeatil
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="btn btn-primary">
                   Subscription plans
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="btn btn-primary">
                    Report Status
                </div>
            </div>
        </div>
    </div>
</section>